@media(max-width:501px) {
	.col-2{width: 100%;max-width: 100%;}
}

@media(min-width:501px) and (max-width:767px) {
	.col-2{width: 50%;max-width: 50%;}
}

@media(max-width:767px) {
    
}

@media(min-width:768px) {
}

@media(min-width:768px) and (max-width:991px) {
	.col-2{width: 33.33%;max-width: 33.33%;}
}

@media(min-width:992px) and (max-width:1199px) {
}

@media(min-width:1200px) {
}